header.header {
    padding-top: 10px;
    display: block;
}

div h2.heading-test {
    font-size: 43px;;
}

div p.mainDescript {
    font-size: 20px;
}

div.text-column {
    padding-bottom: 10rem;
}

header.header nav {
    flex: 0;
    margin-left: 0;
    margin-right: 0;
}

div.navigation {
    width: 75%;
}


div.navigation a {
    margin-left: 75px;
    font-size: 18px;
    width: 25%;
}

div.navigation a:first-child{
    margin-left: 0px;
}

div.row {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 0;
}

.wrapper {
    width: 1500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1300px) {

    .wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 740px) {
    
    .wrapper {
        width: 100%;
    }

    div h2.heading-test {
        font-size: 25px;
    }
    div p.mainDescript {
        font-size: 15px;
    }
    div div.underRow {
        padding-top: 20px;
    }

    ul.features {
        margin-top: 2rem;
    }
    div.text-column {
        padding-bottom: 4rem;
    }
    button.open {
        position: fixed;
        left: 88%;
    }
    div.navigation {
        width: 100%;
    }
    div.navigation a {
        margin-left: 0;
        font-size: 18px;
        width: 100%;
    }
}